#main_box{
	margin: 0;
}
#week_input{
    width: 40px;
}

#time_table > caption{
    text-align: center;
    font-size: 20px;
}
#time_table .period_header{
    width: 12%;
}
#time_table .time_table_cell{
    width: 11%;
}
#time_table td, #time_table th{
    text-align: center;
}
.arrows{
	height: 800px;
	font-size: 40pt;
}
.arrows p{
	margin-top:300px;
}

.attached_box{
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #8F190D;
    border-radius: 6px;
    outline: 0px none;
}
.opaque{
    opacity: 0.4;
}
.top_layer{
    z-index : 999;
}

.menu_button{
    font-size: 14pt;
    border-radius: 6px;
    border: 0;
    background-color: inherit;
}
.add_button{
    float: left;
    color: #40973c;
}
.remove_button{
    float: right;
    color: #C5270B;
}
.edit_button{
    float: left;
}

.menu_button_wrapper{

}

.attendance_info pre, .extra_info pre {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: inherit;
}
.clear{
    clear: both;
}
#info_ul{
    text-align: center;
    padding-left: 0;
    list-style-type: none;
}
.extra_area{
    width: 100%;
    resize: none;
}
/* 보강 시험 과제 휴강*/

.additional_lecture{
    background-color: #9C87CD;
}

.exam{
    background-color: #D34B47;
}
.assignment{
    background-color: #D3BB47;
}
.cancel_lecture{
    background-color: #38A63F;
}

#empty{
    display: none;
}