#week_input{
    width: 40px;
}

#time_table > caption{
    text-align: center;
    font-size: 20px;
}
#time_table .period_header{
    width: 12%;
}
#time_table .time_table_cell{
    width: 11%;
}
#time_table td, #time_table th{
    text-align: center;
}
.arrows{
	height: 800px;
	font-size: 40pt;
}

.arrows p{
	margin-top:300px;
}