#main_box{
	margin: 0;
}
#week_input{
    width: 40px;
}

#time_table > caption{
    text-align: center;
    font-size: 20px;
}
#time_table .period_header{
    width: 12%;
}
#time_table .time_table_cell{
    width: 11%;
}
#time_table td, #time_table th{
    text-align: center;
}
.arrows{
	height: 800px;
	font-size: 40pt;
}
.arrows p{
	margin-top:300px;
}

.attached_box{
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #C5270B;
    border-radius: 6px;
    outline: 0px none;
}
.opaque{
    opacity: 0.3;
}
.menu_button{
    font-size: 14pt;
}
.add_button{
    float: left;
    border-color: #40973c;
    color: #40973c;
}
.remove_button{
    float: right;
    border-color: #af2120;
    color: #af2120;
}
.edit_button{
    float: left;
    border-color: yellow;
    color: yellow;
}

.attendance_info pre, .extra_info pre {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: inherit;
}

#empty{
    display: none;
}