{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ko">
	<meta charset="UTF-8">
	{% block meta %}{% endblock %}

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/common.css' %}"/>
	{% block css %}{% endblock %}

	<title>{% block title %}{% endblock %}</title>
</head>
<body>

<nav class="navbar-inverse navbar-default" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'index' %}"><strong>TEEMO</strong>.kr</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'help' %}">사용 방법</a></li>
				<li><a href="{% url 'index' %}">그시간 내꺼!</a></li>
				<li><a href="{% url 'add_student' %}">학생 추가</a></li>
			</ul>
			<form id="course_no_form" class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<label for="course_no"></label>
					<input id="course_no" type="text" class="form-control" placeholder="수업 번호" maxlength="5">
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
					<li><p class="navbar-text">Signed in as <a href="#" class="navbar-link">{{ user }}</a></p></li>
					<li><a href="{% url 'logout' %}" class="navbar-link">Logout</a></li>
				{% else %}
					<li><a href="{% url 'login' %}" class="navbar-link">Login</a></li>
					<li><a href="{% url 'signup' %}" class="navbar-link">Sign Up</a></li>
				{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
{% block content %}
{% endblock %}

<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/constants.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>