{% extends 'base.html' %}

{% load staticfiles %}
{% load ds_utils %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/time_table.css' %}"/>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/time_table_function.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/time_table.js' %}"></script>
{% endblock %}

{% block content %}
	<form id="fetch_time_table_form" role="form" method="post" action="{% url 'time_table:fetch' %}">
		{% csrf_token %}
		<fieldset>
			<div class="form-group">
				<input class="year" type="hidden" name="year" />
				<input class="semester" type="hidden" name="semester" />
				<input class="week" type="hidden" name="week"/>
				<input class="course_no" type="hidden" name="course_no" />
			</div>
		</fieldset>
	</form>
	<form id="fetch_attendance_data_form" role="form" method="post" action="{% url 'time_table:attendance' %}">
		{% csrf_token %}
		<input class="year" type="hidden" name="year" />
		<input class="semester" type="hidden" name="semester" />
		<input class="week" type="hidden" name="week" />
		<input id="block_no" type="hidden" name="block_no" />
		<input id="block_data" type="hidden" name="block_data" />
		<input class="course_no" type="hidden" name="course_no" />
	</form>
	<form id="fetch_extras_form" role="form" method="post" action="{% url 'time_table:extras' %}">
		{% csrf_token %}
		<input class="year" type="hidden" name="year" />
		<input class="semester" type="hidden" name="semester" />
		<input class="course_no" type="hidden" name="course_no" />
		<input class="week" type="hidden" name="week" />
	</form>

	<form id="delete_extra_form" method="post" action="{% url 'time_table:delete_extra' %}" >
		{% csrf_token %}
		<input type="hidden" name="extra_pk" />
	</form>
	
	<!-- Modal -->
	<div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">일정 추가</h4>
				</div>
				<div class="modal-body">
					<form id="add_extra_form" method="post" action="{% url 'time_table:extra' %}">
						{% csrf_token %}
						<input class="year" type="hidden" name="year" />
						<input class="semester" type="hidden" name="semester" />
						<input class="course_no" type="hidden" name="course_no" />
						<input class="week" type="hidden" name="week" />
						<input class="day" type="hidden" name="day" />
						<input class="start_time" type="hidden" name="start_time" />
						<input class="end_time" type="hidden" name="end_time" />
						<input class="attendance_info_no" type="hidden" name="attendance_info_no" />
						<!-- TODO: change here to use django choice info in model -->
						<div>
							<h5>일정 유형</h5>

							<label><input type="radio" name="category" value="0"/>보강</label>
							<label><input type="radio" name="category" value="1"/>시험</label>
							<label><input type="radio" name="category" value="2"/>과제</label>
							<label><input type="radio" name="category" value="3"/>휴강</label>

						</div>
						<div>
							<h5>추가 공지</h5>
							<textarea class="extra_area" name="memo" rows="6"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button id="add_extra_button" type="button" class="btn btn-primary">추가</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modify_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">일정 추가</h4>
				</div>
				<div class="modal-body">
					<form id="modify_extra_form" method="post" action="{% url 'time_table:modify_extra' %}" >
						{% csrf_token %}
						<input type="hidden" name="extra_pk"/>
						<!-- TODO: change here to use django choice info in model -->
						<div>
							<h5>일정 유형</h5>
							<label><input type="radio" name="category" value="0"/>보강</label>
							<label><input type="radio" name="category" value="1"/>시험</label>
							<label><input type="radio" name="category" value="2"/>과제</label>
							<label><input type="radio" name="category" value="3"/>휴강</label>

						</div>
						<div>
							<h5>추가 공지</h5>
							<textarea class="extra_area" name="memo" rows="6"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button id="modify_extra_button" type="button" class="btn btn-primary">수정</button>
				</div>
			</div>
		</div>
	</div>


	<div class="row" id="main_box">
		<div class="container">
			<div class="col-md-1">
				<div class="arrows" id="prev_week">
					<p><span class="glyphicon glyphicon-chevron-left"></span></p>
				</div>
			</div>
			<div class="col-md-10" id="time_table_wrapper">
				<table id="time_table" class="table table-bordered table-condensed">
					<caption><p><span id="year"></span><span>년</span> <span id="semester"></span><span>학기</span> <span id = "week"></span><span>주차</span></p></caption>
					<colgroup>
						<col span="1" class="period_header">
						<col span="7" class="time_table_cell">
					</colgroup>
					<tr>
						<th></th> {# for left-top empty th #}
						{% for day in WEEK_DAYS_KOR %}
							<th>{{ day }}</th>
						{% endfor %}
					</tr>
					{% for period in TIME_TABLE_PERIODS %}
						{% with forloop.counter0 as row %}
							{% with forloop.counter0 as period_number %}
								<tr>
									<th>{{ period }}</th>
									{% for day in WEEK_DAY_KEYS %}
										{% with forloop.counter0 as col %}
											<td id="{{ day }}_{{ period_number }}" data-day="{{ day }}" data-row="{{ row }}" data-col="{{ col }}"></td>
										{% endwith %}
									{% endfor %}
								</tr>
							{% endwith %}
						{% endwith %}
					{% endfor %}
				</table>
				<div id="attendance_info_wrapper"></div>
				<div id="extra_info_wrapper"></div>
			</div>
			<div class="col-md-1">
				<div class="arrows" id="next_week">
					<p><span class="glyphicon glyphicon-chevron-right"></span></p>
				</div>
			</div>
		</div>
	</div>
	<div id="empty"></div>
{% endblock %}