{% extends 'base.html' %}

{% load staticfiles %}
{% load ds_utils %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/time_table.css' %}"/>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/time_table.js' %}"></script>
{% endblock %}

{% block content %}
	<form id="fetch_time_table_form" role="form" method="post" action="{% url 'time_table:fetch' %}">
		{% csrf_token %}
		<fieldset>
			<div class="form-group">
				<input class="year" type="hidden" name="year" />
				<input class="semester" type="hidden" name="semester" />
				<input class="week" type="hidden" name="week"/>
			</div>
		</fieldset>
	</form>
	<form id="fetch_attendance_data_form" role="form" method="post" action="{% url 'time_table:attendance' %}">
		{% csrf_token %}
		<input class="year" type="hidden" name="year" />
		<input class="semester" type="hidden" name="semester" />
		<input class="week" type="hidden" name="week" />
		<input id="block_no" type="hidden" name="block_no" />
		<input id="blocks" type="hidden" name="blocks" />
	</form>
	<div class="row">
		<div class="container">
			<div class="col-md-1">
				<p id="prev_week">LEFT</p>
			</div>
			<div class="col-md-10">
				<table id="time_table" class="table table-bordered table-condensed">
					<caption><p><span id="year"></span><span>년</span> <span id="semester"></span><span>학기</span> <span id = "week"></span><span>주차</span></p></caption>
					<colgroup>
						<col span="1" class="period_header">
						<col span="7" class="time_table_cell">
					</colgroup>
					<tr>
						<th></th> {# for left-top empty th #}
						{% for day in WEEK_DAYS_KOR %}
							<th>{{ day }}</th>
						{% endfor %}
					</tr>
					{% for period in TIME_TABLE_PERIODS %}
						{% with forloop.counter0 as row %}
							{% with forloop.counter0 as period_number %}
								<tr>
									<th>{{ period }}</th>
									{% for day in WEEK_DAY_KEYS %}
										{% with forloop.counter0 as col %}
											<td id="{{ day }}_{{ period_number }}" data-row="{{ row }}" data-col="{{ col }}"></td>
										{% endwith %}
									{% endfor %}
								</tr>
							{% endwith %}
						{% endwith %}
					{% endfor %}
				</table>
			</div>
			<div class="col-md-1">
			<p id="next_week">RIGHT</p>
			</div>
		</div>
	</div>
	{#<!-- On rows -->#}
	{#<tr class="active">...</tr>#}
	{#<tr class="success">...</tr>#}
	{#<tr class="warning">...</tr>#}
	{#<tr class="danger">...</tr>#}
	{#<tr class="info">...</tr>#}
	{##}
	{#<!-- On cells (`td` or `th`) -->#}
	{#<tr>#}
	{#    <td class="active">...</td>#}
	{#    <td class="success">...</td>#}
	{#    <td class="warning">...</td>#}
	{#    <td class="danger">...</td>#}
	{#    <td class="info">...</td>#}
	{#</tr>#}
{% endblock %}